<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="root-container">
    <div class="centered-container">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div>
              <h1 class="title">Mender</h1>
              <h2 class="sub-title">Your 24/7 One Stop Reporting Kiosk.</h2>
              <div class="flex-center">
                <ion-button color="tertiary" (click)="redirectToDashboard()">
                  GET STARTED
                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>  
  </div>

</ion-content>
